@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  @apply bg-gray-400;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #373737;
}

.testing-fog::before {
  content: '';
  width: calc(clamp(650px, 100vw, 375px));
  position: fixed;
  left: 50%;
  bottom: 0;
  translate: -50%;
  border-bottom: 6rem solid #fff;
  filter: blur(1.8rem);
  z-index: 30;
  pointer-events: none;
}

.SortableItem {
  box-shadow: 0 0 0 calc(1px / var(--scale-x, 1)) rgba(63, 63, 68, 0.05),
    0 1px calc(3px / var(--scale-x, 1)) 0 rgba(34, 33, 81, 0.15);
}

.DragHandle {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.animation-fade-in {
  animation: fade-in 2s ease-in-out infinite;
}
@keyframes fade-in {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}
