@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
}

html,
body {
  /* overflow: hidden; */
  background-color: rgb(236, 238, 239);
}

/* * {
  overflow-y: hidden;
} */

.height-custom {
  /* scrollbar-gutter: stable; */
  height: calc(100dvh - 72px);
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: #373737;
}

.testing-fog::before {
  content: "";
  /* position: sticky; */
  /* border: 2px solid #00f; */
  /* width: 95%; */
  width: calc(clamp(650px, 100vw, 375px));
  position: fixed;
  left: 50%;
  bottom: 0;
  translate: -50%;
  border-bottom: 6rem solid #fff;
  filter: blur(1.8rem);
  z-index: 30;
  pointer-events: none;
}
