@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
}

html,
body {
  /* overflow: hidden; */
  background-color: rgb(236, 238, 239);
}

/* * {
  overflow-y: hidden;
} */

.height-custom {
  /* scrollbar-gutter: stable; */
  height: calc(100dvh - 72px);
}

::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background-color: #373737;
}
